{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container text-center">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.expenseType) }}
                </div>
                <div class="col-12">
                    {{ form_row(form.ratio) }}
                </div>
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-primary btn-lg" type="submit">Ajouter</button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
